body {
    background-image:url("image.jpeg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size:cover;
    width: 90%;
    margin:auto; 
  }
p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-variant:normal;
    color: rgb(40, 5, 65);
    font-size: 20px;

}
a:link {
    color: red;
  }
a:visited {
    color: green;
  }
a:hover {
    color: hotpink;
  }
a:active {
    color: blue;
  }

table{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-variant:normal;
    color: rgb(40, 5, 65);
    font-size: 20px;
}